.loyalty {
	margin-top: 10rem;

	> div {
		display: flex;
		flex-direction: column;

		.loyalty__top {
			margin-left: auto;
			max-width: max-content;
		}
		.loyalty__image {
			position: absolute;
			left: -20rem;
			top: 25rem;
			max-width: 140%;
			height: auto;
		}
		.loyalty__bottom {
			margin-top: 30rem;
		}
	}
}
