section {
	position: relative;
	padding: 12rem 0;
}
.section__description {
	width: 54%;
	padding: 1.7rem 0;
}

.luxury-flights__image {
	position: absolute;
	right: 0rem;
	bottom: 0rem;
	max-width: 70%;
	height: auto;
}
