@use './variables';

html {
	font-size: 18px;
}

body {
	background-color: variables.$color-bg;
	color: variables.$color-text;

	font-family: variables.$font-family;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.03em;

	overflow-x: pointer;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

@import 'header';
@import 'ui';
@import 'welcome';
@import 'mission';
